# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Python (старые файлы)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
/tmp/
*.log

# OS
.DS_Store
Thumbs.db
